<h1> SIGN UP</h1>

<form method="POST" action="/users">
  <Label>Name</Label>
  <input type="text" name="name">
  <br>
   <Label>Email</Label>
  <input type="text" name="email">

  <input type="Submit" />
</form>