<h1>LOG IN PAGE</h1>
<form method="POST" action="/login">
  <label>Username</label>
   <input type="text" name="email">
  <label>Password</label>
   <input type="text" name="password">

<input type="Submit" />
</form>

<a href="/signup"> SIGN UP</a><br />


